html, body { 
  background: url(/img/macbook.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: 'Archivo Narrow', sans-serif;
}


#logo {
	text-align: center;
	width: 60px;
	height: 60px;
	display: inline-block;
}

#top-nav {
	float: right;
	display: inline-block;
}


#top-nav a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 15px 15px;
}



#top-nav a:hover {
	color: #85a5cc;
	text-decoration: none;
	padding: 0 15px;
}

.hero {
	padding: 200px 0;
}
.hero h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}



/*Work Section*/
.work {
	padding: 60px 100px;
	text-align: center;
}
.work .box {
	display: inline-block;
	background: #fff;
	width: 250px;
	height: 250px;
	margin: 20px;
}


#box1 {
	background: url(../img/apple-desk-laptop-working.jpg) no-repeat center center;
	background-size: cover;
}

#box2 {
	background: url(../img/apple-desk-laptop-working.jpg) no-repeat center center;
	background-size: cover;
}

#box3 {
	background: url(../img/apple-desk-laptop-working.jpg) no-repeat center center;
	background-size: cover;
}











